h1 {
  color: blue;
  text-align: center;
}
h2 {
  color: green;
  font-style: italic;
  text-align: center;
}
p {
  background: maroon
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
}
img{
  boarder-radious:80%
}
